<div id="splash-container">
  <div id="splash-logo">Take a Breather</div>
  <div id="splash-lead">1, 2, and Breathe</div>
  <div id="splash-text">
    Your safe space for when you need it the most. Express your emotions, reach out to friends and family members, and find resources to help navigate your situation. We are helping you help yourself, so that you can thrive.
  </div>
  <%= link_to "Sign up", new_user_registration_path, :class => 'splash-btn'  %>
  <%= link_to "Log in", new_user_session_path, :class =>  'splash-btn'  %>
</div>