<div id='dashboard-logo'>Breather</div>

<div id='circle1'>
  <div>
    <div class='circle-num'>1.</div>
    <div class='circle-text'><%= link_to 'Share', new_user_submission_path(current_user), class: 'link' %></div>
    <div class='circle-info'>Create new entry</div>
  </div>
</div>
<div id='circle2'>
  <div class='circle-num'>2.</div>
  <div class='circle-text'><%= link_to 'Reflect', user_submissions_path(current_user), class: 'link' %></div>
  <div class='circle-info'>View past entries</div>
</div>
<div id='circle3'>
  <div>
    <div class='circle-num'>3.</div>
    <div class='circle-text'>Connect</div>
    <div class='circle-info'>Find resources</div>
  </div>
</div>